<ion-view class="login-view"  hide-nav-bar="true">
     <ion-content class="padding">
     <div class="logo text-center">
      <img src="http://placehold.it/100x100" alt="">
    </div>
    <div class="list list-inset login-view">
      <h2 class="text-center login-title">INICIAR SESION</h2>
    </div>
     <div class="footer login-view login-footer">
    <button ng-disabled="btnDisabled" class="button button-block button-positive login-button" ng-click="login(data)"><strong>Ingresar</strong></button>  
  </div>
  </ion-content>
</ion-view>