<ion-view title="Mi Perfil" cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-light edit-profile" ui-sref="app.editProfile">Editar</a>

  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="profile-image text-center">
      <!-- <img src="img/user-placeholder.png"> -->
      <img src="http://graph.facebook.com/{{profile.facebook.id}}/picture?width=270&height=270"/>
    </div>
    <div class="list list-inset profile-info text-center">
      <div class="item">
        <strong>Nombre: </strong> {{profile.name}} {{profile.lastname}}
      </div>
      <div class="item">
        <strong>Email: </strong> {{profile.email}}
      </div>
       <div class="item">
        <strong>Telefono: </strong> {{profile.telephone}}
      </div>
      <div class="item">
        <strong>Website:</strong> {{profile.webpage}}
      </div>
    </div>
    <div class="bottom-profile-buttons text-center">
      <button class="button button-assertive delete-account" ng-click="removeAccount()">Eliminar cuenta</button>
      <button class="button button-assertive logout" ng-click="logout()">Logout<i class="icon ion-log-out"></i>
      </button>
    </div>
  </ion-content>
</ion-view>