/* Empty. Add your own CSS if you like */
/*Styles for login view*/
.logo{
  margin-top: 80px;
}
.login-button{
  font-size: 20px;
}
.profile-image{
  margin-top: 25px;
}
.profile-image img{
  width: 50%;
}
/*.delete-account, .logout{
  margin-top: -10px;
  margin-left: 102px;
}
.logout{

}*/

/**
 * CV form
 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.wizard-content .scroll {
  padding-bottom: 40px;
}
.ng-dirty input.ng-invalid,
.ng-dirty select.ng-invalid,
.ng-dirty textarea.ng-invalid {
  border: 1px solid red;
}

/**
 * CV view
 */
.cv-iframe-content > .scroll {
  height: 100%;
}

/**
 * Change template
 */
.templates-container > a {
  height: 200px;
  display: block;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.templates-container > a .apply-template {
  position: absolute;
  top: 10px;
  right: 10px;
}
.templates-container > a > img {
  width: 100%;
}