/* Empty. Add your own CSS if you like */
/*Styles for login view*/
.logo{
  margin-top: 80px;
}
.login-button{
  font-size: 20px;
}
.profile-image{
  margin-top: 25px;
}
.profile-image img{
  width: 50%;
}
/*.delete-account, .logout{
  margin-top: -10px;
  margin-left: 102px;
}
.logout{

}*/